.env
.idea

Authenticator/__pycache__/
Authenticator/users/__pycache__/
Authenticator/static/uploads/*
Authenticator/utils/__pycache__

ApplicationManager/__pycache____/
ApplicationManager/apps/__pycache____/
ApplicationManager/utils/__pycache____/
ApplicationManager/static/uploads/*

frontend/node_modules
frontend/package-lock.json
