@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}
.userType
{
    color: black;
    text-align: center;
    font-size: 50px;
}
.btns
{
  margin-left: 50px;
  margin-top: 60px;
  width: 300px;
  height: 50px;
  padding: 5px;
  border-radius: 30px;
  color: black;
  background-color:  rgb(231, 239, 244,o.7);
  border-color: black;
  cursor: pointer;
}
.selctedbtn
{
  background-color: rgb(216, 169, 126,0.7);;
}
.center1
{
  margin-top: 60px;
  margin-left: 120px;
  width: 600px; 
  height: 500px;
  background-color:rgba(126, 137, 137, 0.5 );
  font-size: 25px;
  padding: 30px;
  
}
.fileupload
{
  border-bottom: 2px solid black;
}
#myfile
{
  padding-top: 15px;
  padding-bottom: 10px;
}
.samplepdf
{
  font-size: 15px;
}

/* .scrollarea
{
  overflow: scroll;
  height: 420px;
} */
.mainclass
{
 display: flex;
}

.submitbtn
{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: black;
}
.submitbtn:hover
{
  transition: 0.1s;
  background-color: #96ac75;
  cursor: pointer;
}