@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}
.userType2
{
    color:black;
    text-align: center;
    font-size: 50px;
}
.btn
{
  margin-left: 50px;
  margin-top: 60px;
  width: 300px;
  height: 50px;
  padding: 5px;
  border-radius: 30px;
  color: #666666;
  background-color: rgb(231, 239, 244,0.7);
  border-color: black;
}
.btn:hover{
  transition: 0.5s;
  background-color: rgb(216, 169, 126,0.7);
  cursor: pointer;
}
.center2
{
  margin-top: 60px;
  margin-left: 120px;
  width: 600px; 
  height: 500px;
  background-color: rgba(126, 137, 137, 0.5 );
  font-size: 25px;
  padding: 30px;
  
}
.fileupload2
{
  border-bottom: 2px solid black;
}
/* .scrollarea2
{
  overflow: scroll;
  height: 420px;
} */
.mainclass2
{
 display: flex;
}
.runningBtn
{
  margin: 30px;
  width: 130px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  color: #080808;
  background-color: green;
  border-radius: 14px;
  border-color: #080808;
}
.startbtn
{
  margin: 30px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  color: #080808;
  border-radius: 14px;
  border-color: #080808;
  background-color: rgb(194, 179, 160);
}
.startbtn:hover
{
  transition: 0.3s;
  background-color: #b39393;
  cursor: pointer;
}